<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>testing</title>

<link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/testing.css') }}">
<script src="{{ url_for('static',filename='jquery-ui/external/jquery/jquery.js')}}"></script>
<script src="{{ url_for('static',filename='jquery-ui/jquery-ui.min.js')}}"></script>

</head>
<body>
	<div id="panel">
		<div id="panel_src">
			<div id="model">产品型号</div>
			<div id="mask" style="display: none;" title="rect: pass/fail&#10;text: masked/enabled">
				<div>
					<input id="0" type="checkbox" checked="checked"/>
					<label for="0">A</label>
				</div>
			</div>
			<pre id="gft" readonly="readonly">
			</pre>
		</div>
		<div id="panel_uut0">
			<div id="status0">INIT</div>
			<div id="barcode0">&nbsp;</div>
			<div id="div_result0">
				<pre id="result0"></pre>
			</div>
		</div>
<!-- 		<div id="panel_uut1">
			<div id="status1">INIT</div>
			<div id="barcode1">&nbsp;</div>
			<div id="div_result1">
				<pre id="result1"></pre>
			</div>
		</div> -->
		<div id="panel_ctrl">
			<div title="双击可修改">工号: <span id="uid">&nbsp;</span></div>
<!-- 			<div title="dbclick me to clear">Waste Count: <span id="wastes">&nbsp;</span></div>
 -->			<div>产量:
				<span class="stat" id="num_total0">&nbsp;</span>
				<!-- <span class="stat" id="num_total1">&nbsp;</span> -->
			</div>
			<div>OK:
				<span class="stat" id="num_pass0">&nbsp;</span>
				<!-- <span class="stat" id="num_pass1">&nbsp;</span> -->
			</div>
			<div>NG:
				<span class="stat" id="num_fail0">&nbsp;</span>
				<!-- <span class="stat" id="num_fail1">&nbsp;</span> -->
			</div>
			<div>%OK:
				<span class="stat" id="passrate0">&nbsp;</span>
				<!-- <span class="stat" id="passrate1">&nbsp;</span> -->
			</div>
			<div>%NG:
				<span class="stat" id="failrate0">&nbsp;</span>
				<!-- <span class="stat" id="failrate1">&nbsp;</span> -->
			</div>
			<div>周期:
				<span class="stat" id="duration0">&nbsp;</span>
				<!-- <span class="stat" id="duration1">&nbsp;</span> -->
			</div>
			<div>日期: <span id="date">2015/05/06</span></div>
			<div>时间: <span id="time_cur">&nbsp;</span></div>
<!-- 			<div>Run: <span id="time_run">&nbsp;</span></div> -->
<!-- 			<div>Fixture ID: <span id="fixture_id">&nbsp;</span></div>
			<div>Pressed: <span id="fixture_pressed">&nbsp;</span></div> -->
 			<div>IMS: <span id="ims_saddr">&nbsp;</span></div>
<!-- 			<div><input class="idleinput" id="button_file" type="file" accept="*.py"	nwworkingdir="C:\Windows" hidden="hidden"/></div>
 -->			<!-- <div id="model">Unknown</div> -->
			<div>扫码信号:
				<span class="stat" id="ScanStart0">&nbsp;</span>
			</div>
			<div>测试信号:
				<span class="stat" id="TestStart0">&nbsp;</span>
				<!-- <span class="stat" id="num_pass1">&nbsp;</span> -->
			</div>
			<div><input class="idleinput" id="button_model" type="button" value="型号"/></div>
			<div><input class="idleinput" id="button_mode" type="button" value="AUTO" title="RUN Mode"/></div>
			<div><input id="button_run" type="button" value="RUN" disabled="disabled"/></div>
		</div>
	</div>
</body>